

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
}

.cards,
.cards2 {
    display: flex;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
}